@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
.yoga-bg-container {
    background-image: url('https://assets.ccbp.in/frontend/static-website/yoga-bg.png');
    background-size: cover;
    height: 100vh;
    font-family: 'Roboto';
    text-align: center;
}

.yoga-main-heading {
    color: #132d84;
    font-weight: bold;
    font-size: 20px;
    padding-top: 13px;
}

.yoga-girl-image {
    height: 200px;
    width: 200px;
    margin-top: 200px;
}

.yoga-bottom-part {
    margin-top: 100px;
}

.yoga-description {
    color: #323f4b;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Roboto';
}

.yoga-button {
    background-color: #132d84;
    color: #fad693;
    font-size: 12px;
    padding: 5px;
    border-radius: 3px;
    border-width: 0px;
}